name: auto-label-pr

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  label:
    uses: yai-labs/yai-infra/.github/workflows/reusable-auto-label-pr.yml@main
    secrets: inherit
